<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button>
            <ion-icon name="options"></ion-icon>

        </ion-button>
        </ion-buttons>
      <ion-title>
        Nearest Garage
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>

      <!-- fab placed to the top end -->
  <ion-fab (click)="zoomUser()" style="margin: 20px;" vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button>
        <ion-icon name="navigate"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  


    <div #Map class="map"></div>
  
</ion-content>
